*.class
*.cache
/.project
/logs/
/.target/
/target/
/project/project
/project/project/target
/project/project/target/config-classes
/project/target
/project/target/config-classes
/project/target/streams
/project/target/streams/$global
/project/target/streams/$global/$global
/project/target/streams/$global/$global/$global
/project/target/streams/$global/projectDescriptors
/project/target/streams/$global/projectDescriptors/$global
/project/target/streams/$global/ivyConfiguration
/project/target/streams/$global/ivyConfiguration/$global
/project/target/streams/$global/update
/project/target/streams/$global/update/$global
/project/target/streams/$global/ivySbt
/project/target/streams/$global/ivySbt/$global
/project/target/streams/compile
/project/target/streams/compile/managedClasspath
/project/target/streams/compile/managedClasspath/$global
/project/target/streams/compile/internalDependencyClasspath
/project/target/streams/compile/internalDependencyClasspath/$global
/project/target/streams/compile/$global
/project/target/streams/compile/$global/$global
/project/target/streams/compile/definedSbtPlugins
/project/target/streams/compile/definedSbtPlugins/$global
/project/target/streams/compile/unmanagedClasspath
/project/target/streams/compile/unmanagedClasspath/$global
/project/target/streams/compile/compile
/project/target/streams/compile/compile/$global
/project/target/streams/compile/exportedProducts
/project/target/streams/compile/exportedProducts/$global
/project/target/streams/compile/incCompileSetup
/project/target/streams/compile/incCompileSetup/$global
/project/target/streams/compile/unmanagedJars
/project/target/streams/compile/unmanagedJars/$global
/project/target/streams/compile/dependencyClasspath
/project/target/streams/compile/dependencyClasspath/$global
/project/target/streams/compile/copyResources
/project/target/streams/compile/copyResources/$global
/project/target/streams/compile/externalDependencyClasspath
/project/target/streams/compile/externalDependencyClasspath/$global
/project/target/streams/runtime
/project/target/streams/runtime/managedClasspath
/project/target/streams/runtime/managedClasspath/$global
/project/target/streams/runtime/internalDependencyClasspath
/project/target/streams/runtime/internalDependencyClasspath/$global
/project/target/streams/runtime/fullClasspath
/project/target/streams/runtime/fullClasspath/$global
/project/target/streams/runtime/unmanagedClasspath
/project/target/streams/runtime/unmanagedClasspath/$global
/project/target/streams/runtime/exportedProducts
/project/target/streams/runtime/exportedProducts/$global
/project/target/streams/runtime/unmanagedJars
/project/target/streams/runtime/unmanagedJars/$global
/project/target/streams/runtime/dependencyClasspath
/project/target/streams/runtime/dependencyClasspath/$global
/project/target/streams/runtime/externalDependencyClasspath
/project/target/streams/runtime/externalDependencyClasspath/$global
/project/target/scala-2.10
/project/target/scala-2.10/sbt-0.13
/project/target/resolution-cache
/project/target/resolution-cache/reports
/project/target/resolution-cache/default
/project/target/resolution-cache/default/getpdf-build
/project/target/resolution-cache/default/getpdf-build/scala_2.10
/project/target/resolution-cache/default/getpdf-build/scala_2.10/sbt_0.13
/project/target/resolution-cache/default/getpdf-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT
/project/target/resolution-cache/default/webschool-build
/project/target/resolution-cache/default/webschool-build/scala_2.10
/project/target/resolution-cache/default/webschool-build/scala_2.10/sbt_0.13
/project/target/resolution-cache/default/webschool-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT
/bin/
