@(message: String, deleteUrl: String, indexUrl: String)

<h1>Действительно удалить запись?</h1>
<p align="justify">
@message
</p>
<p align="justify">
Напоминаем вам, что удаление некоторых записей может привести к каскадному удалению связанных с ними
записей в других таблицах. Удаляйте записи только в том случае, если вы точно понимаете что вы делаете.
Восстановить удаленые записи будет невозможно. Вы действительно уверены в своих намерениях удалить запись?
</p> 
<form action="@deleteUrl" id="deleteForm" method="POST">
	<dl>
	<input type="submit" value="Удалить">
	<a class="button" href="@indexUrl">Отмена</a>
	</dl>
</form>
