@(item: models.entities.Department) 
@main("Отделение") {

<h2>Наименование отделения: @item.name</h2>

@buttons
<p>
	<div>
		<table>
			<tbody>
				<tr>
					<td colspan="2" class="title">Информация об отделении</td>
				</tr>
				<tr>
					<td class="label">Наименование</td>
					<td class="value">@item.name</td>
				</tr>
				<tr>
					<td class="label">Зав. отделением</td>
					<td class="value">@item.boss</td>
				</tr>
				<tr>
					<td class="label">Секретарь</td>
					<td class="value">@item.secretar</td>
				</tr>
			</tbody>
		</table>
	</div>
</p>
@buttons()
}

@buttons() = {
<p>
<a class="button" target="new" href="@routes.Groups.index(item.getId())">Группы</a>
</p>
}