@main("О проекте") {
    <p>Проект Web Archive создан для обеспечения возможности заполнения бланочной
    продукции Прокопьевского горнотехнического техникума им. В.П.Романова. 
    Проект ориентирован на быстрое добавление студентов, которые числятся в архиве.
    Именно поэтому он называется веб архивом.</p>
    <h2>Почему Web-приложение?</h2>
    <p>Реализация архива в виде web-приложения имеет свои плюсы, а именно:
    	<ul>
    	<li>Для работы с приложением клиенту не требуется ничего кроме браузера;</li>
    	<li>Проект проще обновлять, поскольку это делается централизованно;</li>
    	<li>Для прекращения работы с проектом сразу всех пользователей (если это необходимо) достаточно остановить сервер;</li>
    	</ul>
    </p>
    <h2>На чем реализовано это приложение?</h2>
    <p>Это приложение создано на языке программирования Java с использованием Play Framework.</p>
}