@(title: String = "Добро пожаловать в WebArchive")
@main(title) {
    <p>Мы рады приветствовать вас на главной странице проекта. 
    Пока интерфейс достаточно прост, но всё же мы приведем ответы на возможные вопросы.</p>
    <h2>С чего начать работу?</h2>
    <p>Поскольку основной минимум сведений уже наверняка добавлен нами, вам лучше всего 
    начать работу с импорта личных карточек. Для начала импорта используйте соответствующий пункт меню.</p>
    <h2>Почему личные карточки не импортируются?</h2>
    <p>Наиболее вероятная причина - неправильно указанные или не указанные данные. Следует обратить внимание на:
    <ul>
    <li>Дату рождения студента</li>
    <li>Год начала и окончания обучения студента</li>
    <li>Регистрационный номер, а так же серия и номер диплома</li>
    <li>Год выдачи предыдущего документа об образовании</li>
    <li>Наименование учебного заведения, которое окончил студент</li>
    <li>Форма обучения, по которой закончил обучение студент</li>
    <li>Тема дипломного проекта, а так же оценка за диплоиный проект или итоговый гос. экзамен</li>
    <li>Информацию о комиссиях и распределения студентов по этим комиссиям</li>
    <li>Правильность указания оценок за дисциплины, курсовые проекты, практику и гос. экзамены</li>
    </ul>
    Важно помнить, что если какие-либо заддые указаны не были, их потребуется указать уже в новой информационной системе,
    при условии, что личная карточка будет перенесена. Таким образом, если у вас не стоят оценки (указаны нули) у всех студентов
    по какой-либо дисциплине или практике, то эта дисциплина или практика в личную карточку новой информационной системы
    <b>перенесена не будет!</b> Следовательно, сначала приведите в порядок старую базу данных, 
    а уже потом импортируйте личные карточки.
    </p>
    <h2>Куда подевались группы? Почему я вижу огромный список студентов?</h2>
    <p>Дело в том, что информация о группе не фигурирует в дипломе или приложении к нему. Вся "лишняя" информация была удалена.
    Возможно, в будущем группы будут добавлены, но сейчас реализован только минимально необходимый функционал для заполнения бланков.</p>
    <h2>И как мне теперь печатать бланки?</h2>
    <p>В личной карточке персоны вы увидите две кнопки ("Диплом" и "Копия диплома"). При нажатии на эти кнопки сгенерируется
    pdf документ, содержащий все страницы диплома и приложения к нему. Копия отличается наличием подложки в виде картинки с изображением
    соответствующей страницы диплома или приложения.</p>
    <h2>А как вообще попасть в личную карточку?</h2>
    <p>В меню "Архив" надо выбрать пункт "Персоны". Откроется список персон. При наведении мышкой на записи персоны вы увидите
    справа ссылки, в числе которых будет ссылка "Детали". Таким образом вы можете открыть детальную информацию о персоне, где вы
    обнаружите кнопку "Личные карточки".</p>
    
}