@(account: models.entities.Account)

@main("Смена пароля") {
<p align="justify">
Для смены пароля учетной записи @account.login введите новый пароль и подтверждение
</p>
<form id="passwordForm" action="@routes.Accounts.savePassword(account.getId())" method="POST">
	<dl>
    <dt><label for="password">Пароль</label></dt>
    <dd><input type="password" name="password" id="password"></dd>
	</dl>
	<dl>
    <dt><label for="confirm">Подтверждение пароля</label></dt>
    <dd><input type="password" name="confirm" id="confirm"></dd>
	</dl>
	<dl>
		<input type="submit" value="Сохранить">
		<a class="button" href="@routes.Application.index()">Отмена</a>
	</dl>
</form>
}